* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.preview {
  min-height: 765px;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
  padding-top: 120px;
  font-family: "Aleo";
}
.preview__wrapper {
  width: 890px;
}
.preview__header {
  margin: 0;
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}
.preview__subheader {
  margin-top: 35px;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.preview__form {
  margin-top: 46px;
}
.preview__form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 41px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
.preview__form input {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border: none;
  width: 560px;
  color: #F2785C;
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}

.header {
  position: absolute;
  top: 0;
  lef: 0;
  width: 100%;
  background: rgba(242, 120, 92, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
          box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  min-height: 90px;
  padding-top: 25px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 215px;
}
.header__logo__img {
  width: 100%;
}
.header__logo__img_mobile {
  display: none;
}

.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style-type: none;
}
.menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 42px;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu__item:last-child {
  margin-right: 0;
}
.menu__item .mobile {
  display: none;
}
.menu__link {
  text-decoration: none;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.menu__close {
  display: none;
}

.btn {
  width: 228px;
  height: 59px;
  background: #0D606F;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  cursor: pointer;
}
.btn-small {
  width: 100px;
  height: 40px;
  font-size: 16px;
  line-height: 21px;
}
.btn-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  margin-top: 40px;
  padding: 0 30px;
}
.btn-center .mobile {
  display: none;
}
.btn:hover {
  color: #F2785C;
}

.steps {
  margin-top: 80px;
}
.steps__list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.steps__item {
  list-style-type: none;
}
.steps__item_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  background-color: #F2785C;
  border-radius: 16px;
  margin: 0 auto;
}
.steps__item_block .mobile {
  display: none;
}
.steps__item_descr {
  margin-top: 30px;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.title {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.destinations {
  margin-top: 100px;
  position: relative;
}
.destinations__wrapper {
  margin: 0 auto;
}

.carousel {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.carousel > div {
  position: relative;
  width: 800px;
  height: 800px;
  margin-right: 60px;
}
.carousel > div img {
  border-radius: 16px;
  height: 100%;
}
.carousel > div .mobile {
  display: none;
}
.carousel > div .location {
  position: absolute;
  bottom: 40px;
  left: 15px;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 32px;
  line-height: 42px;
  color: #FFFFFF;
}
.carousel > div:last-child {
  margin-right: 0;
}

.dots {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.dots .dot {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}
.dots .active {
  background: rgb(242, 120, 92);
}

.stories {
  min-height: 1330px;
  margin-top: 80px;
}
.stories__wrapper {
  margin-top: 40px;
  background: url(../img/bg/footer_bg.jpg) center center/cover no-repeat;
}
.stories__overlay {
  background: rgba(255, 255, 255, 0.7);
  padding: 40px 0;
}
.stories__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 30px;
}
.stories__item:last-child {
  margin-bottom: 0;
}
.stories__img {
  -webkit-filter: drop-shadow(0px 4px 4px #0D606F);
          filter: drop-shadow(0px 4px 4px #0D606F);
  border-radius: 16px;
  margin-right: 40px;
  -webkit-transition: all 0.6s;
  transition: all 0.6s;
}
.stories__img_mobile {
  display: none;
}
.stories__img:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
.stories__text {
  font-family: "Aleo";
  font-weight: 400;
  color: #0D606F;
}
.stories__subtitle {
  font-size: 35px;
  line-height: 42px;
}
.stories__descr {
  margin-top: 24px;
  font-size: 20px;
  line-height: 24px;
}
.stories__more {
  font-size: 20px;
  line-height: 24px;
  font-weight: 700;
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  cursor: pointer;
}

.footer {
  position: relative;
  min-height: 60px;
}
.footer__wrapper {
  min-height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}
.footer__rights {
  position: absolute;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}
.footer__social {
  text-align: end;
}
.footer__social-item {
  list-style-type: none;
  display: inline;
  margin-right: 20px;
}
.footer__social-item:last-child {
  margin-right: 0;
}

.hamburger {
  display: none;
}

@media (max-width: 1200px) {
  .container {
    max-width: 940px;
  }
  .preview__wrapper {
    width: initial;
  }
  .preview__header {
    font-size: 72px;
  }
  .preview__form > div {
    width: 750px;
  }
  .preview__form > div input {
    width: 440px;
  }
  .steps__item_block {
    width: 90px;
    height: 90px;
  }
  .carousel > div {
    width: 550px;
    height: 550px;
  }
  .stories {
    min-height: initial;
  }
  .stories__img {
    height: 250px;
  }
  .stories__img:hover {
    -webkit-transform: scale(1.05);
            transform: scale(1.05);
  }
}
@media (max-width: 991px) {
  .container {
    max-width: 720px;
  }
  .header__logo {
    width: 175px;
  }
  .menu__item {
    margin-right: 20px;
  }
  .menu__link {
    font-size: 14px;
  }
  .preview {
    min-height: 650px;
  }
  .preview__header {
    font-size: 56px;
  }
  .preview__subheader {
    font-size: 18px;
  }
  .preview__form > div {
    width: 660px;
  }
  .preview__form > div input {
    width: 350px;
  }
  .title {
    font-size: 36px;
    line-height: 44px;
  }
  .steps__item_descr {
    font-size: 17px;
  }
  .carousel > div {
    width: 400px;
    height: 400px;
  }
  .stories__item {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .stories__item img {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
    margin-right: 0;
    height: initial;
  }
  .stories__text {
    margin-bottom: 20px;
    text-align: center;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
  .header__logo {
    width: 30px;
  }
  .header__logo__img {
    display: none;
  }
  .header__logo__img_mobile {
    display: block;
  }
  .menu__item {
    margin-right: 14px;
  }
  .menu__link {
    font-size: 12px;
    line-height: 16px;
  }
  .preview {
    min-height: 600px;
  }
  .preview__header {
    font-size: 44px;
    line-height: 70px;
  }
  .preview__subheader {
    font-size: 16px;
  }
  .preview__form > div {
    width: 525px;
  }
  .preview__form > div input {
    width: 280px;
    font-size: 22px;
  }
  .btn {
    width: 170px;
    height: 50px;
  }
  .btn-small {
    width: 80px;
    height: 40px;
  }
  .btn-sbm {
    font-size: 21px;
  }
  .title {
    font-size: 30px;
  }
  .steps__list {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }
  .steps__item_descr {
    text-align: center;
  }
  .carousel > div {
    width: 300px;
    height: 300px;
    margin-right: 35px;
  }
  .btn {
    font-size: 20px;
  }
  .btn-center {
    padding: 0 15px;
  }
  .footer__rights {
    font-size: 12px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 15px;
  }
  .header {
    min-height: 60px;
    padding-top: 0;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
  }
  .header__logo {
    position: absolute;
    top: 45px;
    left: 17px;
  }
  .menu {
    position: fixed;
    top: 0;
    right: -100%;
    padding: 44px 15px 30px 0;
    width: 165px;
    height: 250px;
    background-color: #F2785C;
    -webkit-box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
            box-shadow: 0px 4px 3px rgba(13, 96, 111, 0.25);
    border-radius: 10px;
    -webkit-transition: 0.6s all;
    transition: 0.6s all;
    z-index: 10;
  }
  .menu_active {
    right: 0;
  }
  .menu .nav {
    height: 100%;
  }
  .menu__list {
    height: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .menu__item {
    margin-right: 0;
    margin-top: 10px;
  }
  .menu__item:first-child {
    margin-top: 0;
  }
  .menu__item .mobile {
    display: block;
  }
  .menu__link {
    font-size: 16px;
  }
  .menu__close {
    display: block;
    position: absolute;
    top: 8px;
    left: 8px;
    cursor: pointer;
  }
  .hamburger {
    display: block;
    position: absolute;
    right: 23px;
    top: 51px;
    width: 27px;
    height: 21px;
    cursor: pointer;
  }
  .hamburger span {
    display: block;
    height: 3px;
    width: 100%;
    background-color: #fff;
    margin-bottom: 4px;
    border-radius: 16px;
  }
  .hidden {
    overflow: hidden;
  }
  .btn {
    font-size: 11px;
    width: 90px;
    height: 30px;
  }
  .btn-small {
    display: none;
  }
  .btn-center {
    padding: 0 12px;
    margin-top: 10px;
  }
  .btn-center .desktop {
    display: none;
  }
  .btn-center .mobile {
    display: block;
  }
  .preview {
    background: url("../img/bg/main_bg_mobile.jpg") center center/cover no-repeat;
    min-height: 250px;
    padding-top: 140px;
  }
  .preview__header {
    display: none;
  }
  .preview__subheader {
    display: none;
  }
  .preview__form {
    margin-top: 0;
  }
  .preview__form > div {
    width: 360px;
    height: 50px;
    padding: 0 10px 0 16px;
  }
  .preview__form > div input {
    width: 225px;
    font-size: 14px;
    line-height: 17px;
  }
  .steps {
    margin-top: 20px;
  }
  .steps__list {
    margin-top: 20px;
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
  .steps__item:first-child .steps__item_block {
    margin: 0 auto 0 0;
  }
  .steps__item:first-child .steps__item_descr {
    text-align: start;
  }
  .steps__item:last-child .steps__item_block {
    margin: 0 0 0 auto;
  }
  .steps__item:last-child .steps__item_descr {
    text-align: end;
  }
  .steps__item_block {
    width: 70px;
    height: 70px;
  }
  .steps__item_block .desktop {
    display: none;
  }
  .steps__item_block .mobile {
    display: block;
  }
  .steps__item_descr {
    font-size: 10px;
    line-height: 12px;
    margin-top: 20px;
  }
  .title {
    font-size: 14px;
    line-height: 19px;
  }
  .destinations {
    margin-top: 20px;
  }
  .carousel {
    margin-top: 20px;
  }
  .carousel > div {
    width: initial;
    height: initial;
    margin-right: 0;
  }
  .carousel > div:not(.active) {
    visibility: collapse;
  }
  .carousel > div .desktop {
    display: none;
  }
  .carousel > div .mobile {
    display: block;
  }
  .carousel > div .location {
    top: 10px;
    left: 15px;
    font-size: 20px;
    line-height: 26px;
  }
  .dots {
    position: absolute;
    bottom: 50px;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 36px;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .dots .dot {
    width: 8px;
    height: 8px;
    margin-right: 0;
  }
  .dots .active {
    -webkit-box-ordinal-group: 0;
        -ms-flex-order: -1;
            order: -1;
  }
  .stories {
    margin-top: 20px;
  }
  .stories__overlay {
    padding: 10px 0;
  }
  .stories__wrapper {
    margin-top: 10px;
    background: url(../img/bg/footer_bg_mobile.jpg) center center/cover no-repeat;
  }
  .stories__item {
    max-height: 130px;
    margin-bottom: 15px;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .stories__item img {
    -webkit-box-ordinal-group: 1;
        -ms-flex-order: 0;
            order: 0;
    margin-right: 10px;
  }
  .stories__img {
    display: none;
  }
  .stories__img_mobile {
    display: block;
    -webkit-filter: drop-shadow(0px 4px 4px #0D606F);
            filter: drop-shadow(0px 4px 4px #0D606F);
    border-radius: 16px;
    margin-right: 40px;
    -webkit-transition: all 0.6s;
    transition: all 0.6s;
  }
  .stories__text {
    text-align: start;
  }
  .stories__subtitle {
    font-size: 11px;
    line-height: 13px;
    font-weight: 700;
  }
  .stories__descr {
    display: -webkit-box;
    -webkit-line-clamp: 8;
    -webkit-box-orient: vertical;
    overflow: hidden;
    font-size: 9px;
    line-height: 11px;
    margin-top: 10px;
  }
  .stories__more {
    font-size: 9px;
    line-height: 11px;
  }
  .footer__rights {
    display: none;
  }
  .footer__wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    min-height: 65px;
  }
}
@media (max-width: 389px) {
  .btn-sbm {
    width: 85px;
  }
  .preview__form > div {
    width: 290px;
  }
  .preview__form > div input {
    width: 175px;
  }
  .carousel > div {
    width: 290px;
    height: 170px;
  }
  .stories__descr {
    -webkit-line-clamp: 7;
  }
}/*# sourceMappingURL=style.css.map */