* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
}

.preview {
  min-height: 765px;
  background: url("../img/bg/main_bg.jpg") center center/cover no-repeat;
  padding-top: 120px;
  font-family: "Aleo";
}
.preview__wrapper {
  width: 890px;
}
.preview__header {
  font-weight: 700;
  font-size: 80px;
  line-height: 96px;
  color: #FFFFFF;
}
.preview__subheader {
  margin-top: 56px;
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 24px;
  color: #FFFFFF;
}
.preview__form {
  margin-top: 46px;
}
.preview__form > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 18px 0 41px;
  height: 95px;
  background: rgba(255, 255, 255, 0.7);
  border-radius: 16px;
}
.preview__form input {
  font-style: italic;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
  border: none;
  width: 560px;
  color: rgb(242, 120, 92);
  outline: none;
  background-color: rgba(255, 255, 255, 0);
}

.header {
  position: absolute;
  top: 0;
  lef: 0;
  width: 100%;
  background: rgba(242, 120, 92, 0.7);
  -webkit-box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
          box-shadow: 0px 4px 4px rgba(13, 96, 111, 0.5);
  min-height: 90px;
  padding-top: 25px;
}
.header__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header__logo {
  width: 215px;
}
.header__logo img {
  width: 100%;
}

.nav__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.nav__list .list__item {
  margin-right: 42px;
  list-style-type: none;
}
.nav__list .list__item:last-child {
  margin-right: 0;
}
.nav__list .list__item a {
  text-decoration: none;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 16px;
  line-height: 21px;
  color: #FFFFFF;
}

.btn {
  width: 228px;
  height: 59px;
  background: #0D606F;
  -webkit-box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
          box-shadow: 0px 0px 3px rgba(13, 96, 111, 0.08), 0px 2px 3px rgba(13, 96, 111, 0.16);
  border-radius: 10px;
  border: none;
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 24px;
  line-height: 32px;
  color: #FFFFFF;
  cursor: pointer;
}
.btn-small {
  width: 103px;
  height: 41px;
  font-size: 16px;
  line-height: 21px;
}
.btn-center {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 auto;
  padding: 0 30px 0 30px;
}

.steps {
  margin-top: 80px;
}
.steps__list {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.steps__item {
  list-style-type: none;
}
.steps__item_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  background-color: #F2785C;
  border-radius: 16px;
  margin: 0 auto;
}
.steps__item_descr {
  margin-top: 30px;
  font-family: "Aleo";
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  color: #0D606F;
}

.title {
  font-family: "Red Hat Text";
  font-weight: 500;
  font-size: 40px;
  line-height: 53px;
  color: #F2785C;
  text-align: center;
}

.destinations {
  margin-top: 100px;
  position: relative;
}
.destinations__wrapper {
  margin: 0 auto;
}

.carousel {
  margin-top: 46px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  overflow: hidden;
}
.carousel > div {
  width: 800px;
  height: 800px;
  margin-right: 60px;
}
.carousel > div:last-child {
  margin-right: 0;
}

.dots {
  margin-top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 40px;
}
.dots .dot {
  width: 20px;
  height: 20px;
  background: rgba(242, 120, 92, 0.5);
  border-radius: 100%;
  margin-right: 10px;
  cursor: pointer;
}
.dots .active {
  background: rgb(242, 120, 92);
}/*# sourceMappingURL=style.css.map */